body{
    background-color: var(--mode-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #00507A;
    --secondary-color: #C8BFBC;
    --accent1-color: #11202C;
    --accent2-color: #FCA311;
    --light-text: #FFFFFF;
    --dark-text: #11202C;
    --mode-color: #ffffff;
    --header-font: "Bitter", Tahoma, serif;
    --text-font: "Open Sans", sans-serif;
    --light-button: #e5dedb;
}

/* Dark Mode Test */

.dark-mode {
    --mode-color: #032639;
    --primary-color: #e1e2de;
    --secondary-color: #C8BFBC;
    --light-text: #091223;
    --light-button: #00507A;
    --dark-text: #FFFFFF;
}
/* ====================== CONTINUING ELEMENTS ====================== */

/*-------------- HEADER ELEMENTS --------------*/



header{
    background-color: var(--primary-color);
    display: flex;
    /* grid-template-columns: 1fr .5fr 1fr; */
    width: 100%;
    position: absolute;
}

.logo {
    width: 60px;
    height: auto;
    align-content: center;
    padding: 2rem 0.25rem 2rem 1rem;
    /* padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px; */
}

header h1{
    font-family: 'Bitter', serif;
    font-size: 1.15em;
    color: var(--light-text);
    text-align: left;
    padding: 1.75rem;
}

/* Remove After W06 */
        .hero{
            position: relative;
            z-index: -1;
            text-align: center;
        }

        .small-view {
            position: absolute;
            top: 6em;
            font-size: 1.5em;
            background-color: #FCA311;
        }

        .large-view{
            display: none;
        }

        .medium-view{
            display: none;
        }



.hero img{
    max-width: 100%;
    text-align: center;
    object-fit: scale-down;
    margin-top: 140px;
    z-index: -1;
}
    /*--- Navigation Elements (mobile) ---*/
 nav {
    font-family: var(--text-font);
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 1rem;
    position: absolute;
    top: 9rem;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: var(--light-text);
}

#navButton {
    display: block;
    font-size: 2rem;
    padding: .5rem .75rem;
    background-color: var(--primary-color);
    color: var(--light-text);
}

#navButton::before {
    content: "≣";
}

.nav-menu{
    margin: 0 auto;
    max-width: 760px;
    display: flex;
    flex-direction: column;
}

.nav-menu li{
    display: none;
    background-color: #004f7a8d;
    max-width: 50%;
}

.nav-menu a{
    display: block;
}

.open li{
    display:block;
}

#navButton.open::before{
    content: "❌"
}

    /* ---- Toggle Switch ---- */

    /* The switch - the box around the slider */
        .switch {
        position: absolute;
        right: 3rem;
        top: 1rem;
        display: inline-block;
        width: 60px;
        height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        }

        /* The slider */
        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--secondary-color);
        -webkit-transition: .4s;
        transition: .4s;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        }

        input:checked + .slider {
        background-color: #11202C;
        }

        input:focus + .slider {
        box-shadow: 0 0 1px #11202C;
        }

        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
        border-radius: 34px;
        }

        .slider.round:before {
        border-radius: 50%;
        }

/* ==========================  MAIN PAGE: MAIN ELEMENTS  ========================== */

/* Row 1 */
.flex-1 {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
}
#mission-statement{
    text-align: center;
    background-color: var(--secondary-color);
    font-family: var(--text-font);
    color: var(--dark-text);
    padding: 1em;
    margin: 1em;
    font-size: 90%;
}
#weather{
    margin: 1em;
    padding: 2em;
    background-color: #C8BFBC;
}

#weather p{
    font-family: var(--text-font);
    color: var(--dark-text);
    font-size: 90%;
    font-weight: 600;
}

#weather p span{
    font-weight: 400;
}

/* Row 2 */
.flex-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

#action-call{
    background-color: var(--primary-color);
    font-family: var(--text-font);
    color: var(--light-text);
    padding: 3em 1em;
}
.business-week {
    position: relative;
}
.business-week img{
    width: 100%;
    object-fit: scale-down;
}

.business-label {
    position: absolute;
    top: 2em;
    left: 20px;
    padding: 0px 2em;
    background-color: #c8bfbcc8;
    font-family: var(--text-font);
    color: var(--light-text);
    box-shadow: 10px 5px 5px #9d9492;
    margin: 1em 2em;
}

.business-label h6{
    font-size: 90%;
    margin: auto;
    padding: .5em;
}

#business-info{
    background-color: #C8BFBC;
    font-family: var(--header-font);
    color: var(--dark-text);
    font-weight: 300;
}

/* --- Table of Events --- */
.upcoming-events{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: #C8BFBC;
}

.upcoming-events h2{
    padding-top: 2rem;
    font-family: var(--header-font);
    color: var(--dark-text);
}

.table{
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 2rem;
    margin: 0 auto;
    text-align: center;
    font-family: var(--text-font);
}

.row{
    display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;
}

.col {
	padding: 10px;
}

.row:first-child{
    font-weight: 700;
}

/* -----------  FOOTER ELEMENTS -----------*/ 

footer{
    font-family: var(--text-font);
    background-color: var(--primary-color);
    color:var(--light-text);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.badge{
    width: 10%;
    object-fit: scale-down;
}

.foot-nav a {
    text-decoration: none;
    color: var(--light-text);
}


/* ==========================  DISCOVERY: MAIN ELEMENTS  ========================== */

.grid {
    display: grid;
    grid-template-columns: 2fr;
}

.sidebar {
    grid-column: 1/2;
}
.sidebar div{
    background-color: var(--secondary-color);
    margin: 1rem
}

.photoContainer {
    grid-column: 1/2;
}

.photoContainer h3{
    background-color: var(--secondary-color);
    padding: 1rem;
}

.grid h3, h4 {
    font-family: var(--header-font);
    color: var(--dark-text);
}

.grid p, span {
    font-family: var(--text-font);
    color: var(--dark-text);
}

.sidePhoto {
    position: relative;
    padding: 2rem;
}


.picture-label {
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: var(--secondary-color);
    color: var(--dark-text);
    padding: .8rem;
}

/* ==========================  JOIN PAGE: MAIN ELEMENTS  ========================== */
.joinMain {
    display: grid;
    grid-template-columns: 1fr;
}

.formSection {
    grid-column: 1/2;
}

.benefitSection{
    grid-column: 1/2;
    padding: 2rem;
}
/* -------- Form Section -------- */
.formHead{
    font-family: var(--header-font);
    font-size: 1.35rem;
    font-weight: 700;
    color: var(--light-text);
}

fieldset {
    background-color: var(--primary-color);
    padding: 2rem;
    margin: 1rem;
    width: 80%;
    max-width: 800px;
}
form legend{
    margin: 1rem 0.5rem;
    display: none;
}

.formSection h2 {
    font-family: var(--header-font);
    color: var(--dark-text);
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    font-family: var(--header-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-text);
}

fieldset label.top input{
    display: block;
    padding: 0.75rem;
    font-family: var(--text-font);
    font-size: 0.75rem;
    width: 100%;
    max-width: 20rem;
}

fieldset #coDescription{
    display: block;
    width: 100%;
    max-width: 21rem;
}

div label.side {
    font-family: var(--text-font);
}

.levels{
    display: block;
    font-family: var(--text-font);
    font-weight: 600;
}

.submitButton{
    display: block;
    background-color: var(--light-button);
    font-family: var(--text-font);
    font-size: 1rem;
    margin: 1rem auto;
    padding: .90rem;
    color: var(--dark-text);
    border: none;
    border-radius: .5rem;
    width: 75%;
}
    /*----- Required and Pattern-Specific Areas -----*/
    
    .formSection label.top input:required{
        border-left: red solid 6px;
    }

    .formSection label.top input:required:valid{
        border-left: green solid 6px;
    }

/* ------- Benefit Section ------- */

.benefitSection h2{
    font-family: var(--header-font);
    color: var(--dark-text);
}
    /* Mini Sections */

    .benefits{
        padding: .75rem 0;
    }
    .benefits h3{
        font-family: var(--text-font);
        color: var(--dark-text);
        font-size: 1.55rem;
        font-weight: 700;
    }

    .mini {
        background-color: var(--primary-color);
        opacity: 90%;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem 0;
        color: var(--light-text);
        font-family: var(--text-font);
    }

    .mini h5{
        font-size: 1.35rem;
        margin: 0.25rem;
    }

    .mini p, ul{
        font-size: 1.25rem;
    }

/* ==========================  DIRECTORY PAGE  ========================== */

.directoryMain h2{
    font-family: var(--header-font);
    color: var(--dark-text);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1px;
}


    /* Button Section */
    .optionButtons {
        padding: 2rem;
        text-align: center;
    }

    .optionButtons button{
        margin: 1rem;
        font-family: var(--text-font);
        font-weight: 500;
        padding: 1rem 1.5rem;
        background-color: var(--light-button);
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 3px #9d9492;
    }

    /* -----  List vs. Grid Display ----- */

    .busGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        align-items: center;
    }

    .busList {
        display: flex;
        flex-direction: column;
    }

    /* ----- Grid Display ----- */
    


    .busGrid section{
        text-align: center;
        background-color: var(--light-button);
        border: none;
        border-radius: 10px;
        margin: 1rem;
        padding: 2rem;
    }

    .busGrid img{
        border: 2px solid none;
        border-radius: 10px;
        box-shadow: 0 0 10px #3333339b;
        width: auto;
        max-width: 300px;
        height: auto;
    }

    .busGrid h3{
        font-family: var(--header-font);
        color: var(--dark-text);
    }
    
    .busGrid h5, h6{
        font-family: var(--text-font);
        font-weight: 400;
        padding: 0;
        color: var(--dark-text);
    }

    .busGrid section > * {
        margin: 1rem;
    }


    /* ----- List Display ----- */

    .busList section{
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.5rem;
    }

    .busList section > * {
        margin: 0 1rem;
    }

    .busList section img{
        display: none;
    }

    .busList section h3{
        font-family: var(--text-font);
        font-weight: 600;
        font-size: 1rem;
    }

    .busList h5, h6 {
        font-family: var(--text-font);
        font-size: 1rem;
        font-weight: 400;
    }