@media only screen and (min-width: 50em){

/* -------NAVIGATION AND HEADER---------- */
    
    .logo {
        width: 80px;
    }

    header h1{
        font-size: 2em;
    }    

    nav{
        background-color: rgba(0, 0, 0, 0)
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-menu li{
        display: block;
        flex: 1 1 100%;
        background-color: #00000000;
    }

    .nav-menu a{
        text-align: center;
    }

    #navButton {
        display: none;
    }

    .flex-1 {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flex-2{
        flex-direction: row;
        justify-content: space-evenly;
    }
    
/* ---------- Banner ---------- */
    .hero img{
        margin-top: 170px;
    }

    /* REMOVE AFTER W06 */

        .small-view {
            display: none;
        }

        .large-view{
            display: block;
            position: absolute;
            top: 10em;
            font-size: 2em;
            background-color: #21fc11;
        }

        .medium-view{
            display: none;
        }


/* ========================== MAIN PAGE: MAIN ELEMENTS ========================== */
.business-label {
    top: 3em;
}
.business-label h6{
    font-size: 120%;
    margin: auto;
    padding: 1em;
}


/* ==========================  DISCOVERY: MAIN ELEMENTS  ========================== */

.grid {
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    grid-column: 1/2;
}

.photoContainer {
    grid-column: 2/3;
}
.sidePhoto:hover{
    box-shadow: 0 0 50px #333;}

}