@media only screen and (min-width: 70em){

/* -------NAVIGATION AND HEADER---------- */
    
    nav{
        background-color: rgba(0, 0, 0, 0)
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-menu li{
        display: block;
        flex: 1 1 100%;
        background-color: #00000000;
    }

    .nav-menu a{
        text-align: center;
    }

    #navButton {
        display: none;
    }

    .flex-1 {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flex-2{
        flex-direction: row;
        justify-content: space-evenly;
    }
    
/* ---------- Banner ---------- */
    .banner-img img{
        max-width: 100%;
        object-fit: scale-down;
        margin-top: -100px;
        z-index: -1;
    }

}