@media only screen and (min-width: 40em){


    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-menu li{
        display: block;
        flex: 1 1 100%;
    }

    .nav-menu a{
        text-align: center;
    }

    #navButton {
        display: none;
    }

    .flex-1 {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flex-2{
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}