@media only screen and (min-width: 30em){

/* -------NAVIGATION AND HEADER---------- */
.logo {
    width: 70px;
}

header h1{
    font-size: 1.5em;
    padding: 1rem .5rem;
}

.hero img{
    margin-top: 130px;
}

.business-label{
    top: 10px;
}
.business-label h6{
    font-size: 1.15rem;
    margin: auto;
    padding: 1em;

}

/* Upcoming Events */
.upcoming-events {
    max-height: 25rem;
}

.event-list section h4{
    font-family: var(--text-font);
    font-weight: 600;
}

.event-list section p{
    font-family: var(--text-font);
}

.event-list section a{
    text-decoration: none;
    font-family: var(--text-font);
}

/* ==========================  DISCOVERY  ========================== */

.busList h6 {
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 400;
    text-wrap: wrap;
}

/* REMOVE AFTER W06 */

    .small-view {
        display: none;
    }

    .large-view{
        display: none;
    }

    .medium-view{
        display: block;
        position: absolute;
        top: 5em;
        font-size: 2em;
        background-color: #fc11e8;
    }




}
