/* ============================================================= */
/*        CORE ELEMENTS: HEADER, FOOTER, HERO IMAGES */
/* ============================================================= */

            /* Behind the Scenes */
:root{
    --primary-color: #288da3;
    --secondary-color: #33AFBE;
    --tertiary-color: #AADDE0;
    --light-color: #FEF8EB;
    --dark-color: #301D35;
    --serif-text: "Rethink+Sans", Tahoma, serif;
    --sans-text: "EB+Garamond", sans-serif;
}
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

        /* ----- Navigation (Large-view) ----- */
header {
    background-color: #288ca3;
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

    .logo{
        width: auto;
        padding-top: 5px;
        
    }

    #logo_link {
        padding-top: 5px;
        justify-self: center;
        align-self: center;
    }

.navigation {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    nav a{
        /* text-align: center; */
        color: var(--light-color);
        text-decoration: none;
        padding: 2rem;
        letter-spacing: 3px;
        font-family: var(--sans-text);
        font-size: 1.15rem;
        text-shadow: 3px 2px #301d3543;
        
    }

    .nav-list {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        text-transform: uppercase;
    }



.active {
    font-weight: 600;
}
.active::before {
    content: "↠ ";
}

/* ---- Hero Elements (Banner and Action Call ---- */

.main-hero {
    position: relative;
    text-align: center;
    z-index: -1;
}
/* Banner Image */

.hero-img{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    text-align: center;
    object-fit: scale-down;
    max-width: 100%;
}

.main-hero h1{
    text-align: center;
    position: relative;
    font-family: var(--sans-text);
    font-weight: 300;
    color: var(--light-color);
    text-transform: uppercase;
    letter-spacing: 1rem;
    top: -10rem;
    text-shadow: 2px 2px #301d35d2;
}

/* Reservation Button  */

#call-box {
    text-align: center;
}

.book {
    background-color: var(--light-color);
    font-family: var(--sans-text);
    color: var(--dark-color);
    text-decoration: none;
    max-width: 5rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    top: -9rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* ============================================================= */
/*                   HOME PAGE: MAIN CONTENT                     */
/* ============================================================= */

/* -------- Main Content ------- */

.main-content {
    margin-top: -5rem;
}

/* Weather Pop-Up */

#weather-highlight {
    position: fixed;
    background-color: #fef8ebd8;
    padding: 1rem;
    left: 5px;
    top: 10px;
    border-radius: 10px;
    z-index: 999;

}

#closeButton::before {
    content: "🅇";
    padding: 0;
    margin: -1px;
}

#closeButton {
    position: absolute;
    left: 1px;
    top: 1px;
    margin: -1;
    border: none;
    border-radius: 5px;
}
