/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&display=swap'); */

/* removing white box around page */
body{
    /* background-color: #FFFFFF; */
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* ---- Header and Footer Elements ---- */
header {
    background-color: #1d4d72;
    font-family: Oswald, Tahoma, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
    header img{
        max-inline-size: 5em;
        object-fit: scale-down;
        justify-content: center;
        
    }
    header h1{
       padding: 1rem;
    }

footer {
    background-color: #1d4d72;
    font-family: Oswald, Tahoma, sans-serif;
}


/* ---- Navigation Elements ---- */
nav {
    background-color: black;
    font-family: Mukta, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 0.1rem;
    
}

    nav a{
        text-decoration: none;
        color: white;
    }

    #navMenu {
        display: block;
        font-size: 2rem;
        padding: .5rem .75rem;
        background-color: #000;
        color: white;
    }
    #navMenu::before {
        content: "≣";
    }

    .menu {
        /* list-style: none; */
        margin: 0 auto;
        max-width: 760px;
        display: flex;
        flex-direction: column;
    }

    .menu li{
        display:none;
    }
    
    .menu a{
        display: block;
    }
    .open li{
        display: block;
    }

    #navMenu.open::before{
        content:"❌";
    }
    

/* ------ MAIN ELEMENT ----- */

    main {
        text-align: center;
        max-width: 1600px;
        display: grid;
        grid-template-columns: 1fr;
    }

    h2 {
        font-family: Mukta, Helvetica, sans-serif;
        color:#1d4d72;
        font-weight: 300;
        grid-column: span 1;
    }

    #learning-activites {
        grid-column: span 1
    }

    
    #information {
        grid-column: span 1
        
    }

    .card {
        border: solid #1d4d72;
        width: 100%;
    }

    .card, h3{
        background-color: #1d4d72;
        font-family: Oswald, Tahoma, sans-serif;
        color: white;
        margin-top: 0;
    }

    .card, p {
        font-family: Mukta, Helvetica, sans-serif;
        background-color: white;
        text-decoration: none;
        color: #1d4d72;
        margin: 1em auto;
    }

    .card, a{
        text-decoration: none;
        color: #1d4d72;
        
    }

    .card, ul{
        list-style-type: none;
    }

    iframe{
        grid-column: span 1;
        margin: 1em auto;
        min-width: 100%
    }

